
/*------------------ 1.  Global -----------------*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4845E4;
    --primary-color-black: #0C0C0C;
    --secondary-color: #5722CD;
    --secondary-color-light: #F2F0FF;
    --tertiary-color: #ED4385;
    --background-color: #F3F6F9;
    --service-tegel-text: #7A7A7A;
    --font-body: "Roboto", sans-serif;
    --font-heading: "Merriweather", serif;
}
/*--------------------
Paars `#5722CD`;
    - Blauw `#4845E4`;
    - Roze `#ED4385`;
    - Zwart `#0C0C0C` (voor standaard tekst);
    - Lichtpaars `#F2F0FF` (voor de grote zwevende woorden, zoals "hello" en "services")
      *Uitzonderingen:*
    - Lichtgrijs `#F3F6F9` (voor de achtergrond van de projecten)
    - Grijs `#7A7A7A` (voor de service-tegel tekst);
 ------------------------*/

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    color: var(--primary-color-black);
    background-color: #ffffff;
    line-height: 1.5;
}


/*
h1, h2, h3, h4 {
    font-family: var(--font-heading);
}

p, a, li, label, input, textarea, button {
    font-family: var(--font-body);
}
*/


.header {
    position: relative;
    width: 100%;
    min-height: 800px;
    background: #5722CD;
    clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            0% calc(100% - 5vw)
    );
    color: var(--secondary-color-light);
}


.header-inner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.nav {
    position: absolute;
    top: 24px;
    right: 170px;
}

.nav ul   {
    display: flex;
    margin: 0;
    gap: 4.5rem;
    list-style: none;
    padding: 0;
}

.nav a {
    text-decoration: none;
    font-size: 25px;
    color: var(--secondary-color-light);
    font-weight: 300;
}
.header-content {
    text-align: center;
    max-width: 1100px;
    margin: 110px 0;
}

.header-content h1 {
    font-size: 61px;
    line-height: normal;
    margin-bottom: 25px;
}

.header-content p {
    font-size: 36px;
    font-weight: 350;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--secondary-color-light);

}

.section-divider {
    display: inline-block;
    justify-content: center;
    height: 125px;
    margin-top: 120px;
    width: 107px;
    margin-bottom: -58px;
    transform: scaleY(1.4);
    transform-origin: center;
}



.btn-primary {
    margin-top: 17px;
    display: inline-block;
    background-color: var(--tertiary-color);
    color: var(--secondary-color-light);
    text-decoration: none;
    border: none;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3.8px;
    line-height: 2.6;
    padding: 23px 50px;
    cursor: pointer;
    border-radius: 50px;
}

.intro-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    padding: 260px 0;
    text-align: center;
}

.intro-section::before {
    content: "hello";
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34vw;
    font-weight: 600;
    letter-spacing: -0.042em;
    color: #F2F0FF;
    opacity: 0.50;
    pointer-events: none;
    white-space: nowrap;
    z-index: 0;
}

.intro-section-inner {
    position: relative;
    z-index: 1;
}

.intro-inner {
    width: 90%;
    max-width: 1300px;
    text-align: center;
    padding-left: 90px;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translateY(-75px);
}

.intro-inner p {
    font-family: "Merriweather", serif;
    font-size: 2vw;
    letter-spacing: -0.6px;
    word-spacing: -3px;
    font-weight: 600;
    opacity: 0.95;
    color: #4902C7;
    padding-left: 50px;
    text-shadow: 0 0 1px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1);
    filter: contrast(110%);
    margin: 0 0 30px 0;
}

.intro-inner p:nth-of-type(3) {
    margin-top: -10px;   /* dichter op regel 2 */
}
.intro-inner p:nth-of-type(2) {
    margin-bottom: 8px;   /* tussen 2 en 3  */
}


.intro-inner p:nth-of-type(4) {
    margin-top: -4px;  /* reel 3 naar 2 */
}

.intro-inner p:nth-of-type(5) {
    margin-top: -25px;
}
.intro-link {
    display: block;
    margin-top: 130px;
    margin-bottom: 50px;
    color: var(--primary-color-black);
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    word-spacing: -0.1em;
    align-content: center;
}


.project-articles {
    clip-path: polygon(
            0% 0%,
            100% 5vw,
            100% 100%,
            0% calc(100% - 5vw)
    );
}



.project-articles {
    clip-path: polygon(
            0% 0%,
            100% 5vw,
            100% 100%,
            0% calc(100% - 5vw)
    );
}


.project-articles {

    margin-top: -220px;
    padding-top: 360px;
    padding-bottom: 720px;
    background-color: #f2f3fd;
}


.project-articles__inner {
    width: 90%;
    max-width: 1915px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    position: relative;
}



.project {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}


.project--right {
    flex-direction: row-reverse;
}


.project--left {
    flex-direction: row;
}


.project img {
    width: 1100px;
    height: auto;
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 5px;
    margin-right: -170px;
}

/* Tekst */
.project-text h3 {
    font-size: 47px;
    margin-bottom: 120px;
    margin-left: 175px;
}
.project-text {
    flex: 1;
    max-width: 900px;
    margin-bottom: 140px;
}

.project-text p {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.05em;
    color: black;
    margin-left: 175px;
    margin-top: 0;
}
.project-cta {
    margin-left: 175px;
    margin-top: 75px;
}

.project-link {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.20em;
    text-decoration: none;
    color: #4902C7;
    padding-bottom: 4px;
    display: inline-block;

}



/* Mobiel */
@media (max-width: 768px) {
    .project {
        flex-direction: column !important;
        text-align: center;
    }
}

.project--rollingstone {
    position: relative;
}

.project--rollingstone::before {
    content: "work";
    position: absolute;
    bottom: 254px;
    left: 58%;
    overflow: visible;
    transform: translateX(-50%);
    line-height: 1.2;
    letter-spacing: -0.050em;
    font-size: 34.6vw;
    font-weight: 700;
    z-index: -1;
    pointer-events: none;
    opacity: 1;
    white-space: nowrap;
    color: #ffffff;
}

/* Mobiel */
@media (max-width: 768px) {
    .project {
        flex-direction: column !important;
        text-align: center;
    }
}





.product-cards {
    clip-path: polygon(
            0% 0%,
            100% 5vw,
            100% 100%,
            0% calc(100% - 5vw)
    );
}

.product-cards {
    position: relative;
    overflow: hidden;
}

.product-cards::before {
    content: "services";
    position: absolute;
    top: -6.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #F2F0FF;
}

    .product-cards__inner {
        position: relative;
        z-index: 1;
    }


    .product-cards {
        width: 100%;
        padding: 87px 0;
        background: white;
    }

    .cards-grid {
        width: 100%;
        max-width: 1200px;
        margin-top: 244px;
        margin-left: 274px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.25rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        padding: 1.5rem;
        background: var(--background-color);
        border: 2px solid var(--secondary-color);
        width: 508px;
        height: 469px;
    }

    .card {
        position: relative;
    }

    .card img {
        position: relative;
        width: 98px;
        top: 20px;
        left: 20px;

    }
    .card h3 {
        margin-top: 48px;
        padding-bottom: 29px;
        padding-left: 30px;
        padding-right: 34px;
        font-size: 1.99rem;
        color: var(--secondary-color);

    }

    .card p {
        color: var(--service-tegel-text);
        line-height: 1.53rem;
        word-spacing: -2.6px;
        font-size: 1.4rem;
        letter-spacing: -0.01em;
        font-weight: 300;
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .contact-section{
        margin-top: 107px;
        padding-bottom: 90px;
        clip-path: polygon(
                0% 0%,
                100% 5vw,
                100% 100%,
                0% 100%
        );
    }

    .contact-section {
        width: 100%;
        padding-top: 227px;
        background: #5722CD;
        text-align: center;
    }

    .contact-section h2 {
        font-size: 61px;
        line-height: 1.5;
        color: var(--secondary-color-light);
        margin-bottom: 2.2rem;
        margin-left: -5px;
    }

    .contact-section p {
        margin-bottom: 2rem;
        font-size: 27px;
        font-weight: 300;
        word-spacing: -0.06em;
        color: var(--secondary-color-light);
    }

    .contact-form {
        width: 90%;
        max-width: 1114px;
        text-align: left;
        margin: 0 auto;
    }
    .contact-form .field {
        margin-bottom: 35px;
    }

    .contact-form label {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .contact-form input,
    .contact-form textarea {
        box-sizing: border-box;
        width: 100%;
        padding-left: 28px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1.3rem;
        height: 78px;
    }
    .contact-form textarea {
        min-height: 305px;
    }

    .contact-form .btn-primary {
        justify-content: center;
        display: inline-block;
        align-items: center;
        margin-left: 428px;
        margin-top: 45px;
        width: 262px;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    .site-footer {
        display: flex;
        margin-top: -12px;
        width: 100%;
        height: 100px;
        padding: 20px 0;
        text-align: center;
        border-top: 1px solid #ddd;
        font-size: 1.2rem;
        background: #0C0C0C;
        color: var(--secondary-color-light);
        line-height: 2em;
        justify-content: center;
    }
.site-footer p {
        margin-top: 16px;
}}
