

/* ------------------------------- 1. Global Styles -------------------------------- */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
}
:root {
    --primary-color: #4845E4;                   /*--blauw--*/
    --primary-color-black: #0C0C0C;             /*--standaard-text--*/
    --secondary-color: #5722CD;                 /*--paars--*/
    --secondary-color-light: #F2F0FF;           /*--licht-paars--*/
    --tertiary-color: #ED4385;                  /*--roze--*/
    --background-color: #F3F6F9;                /*--lichtgrijs voor de achtergrond van de projecten--*/
    --service-tegel-text: #7A7A7A;
    --font-body: "Roboto", sans-serif;
    --font-heading: "Merriweather", serif;
}
html {
    scroll-behavior: smooth;
    font-size: 100%;
}
/*body {
    background-color: var(--primary-color);
    font-family: var(--font-body), sans-serif;
}
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);

    }
*/


/* ------------------------------- 2. Typography ----------------------------------- */
.merriweather {
                   font-family: "Merriweather", serif;
                   font-optical-sizing: auto;
                   font-weight: 400;
                   font-style: normal;
                   font-variation-settings:
                           "wdth" 100;
               }

.roboto-  {
             font-family: "Roboto", sans-serif;
             font-optical-sizing: auto;
             font-weight: 400;
             font-style: normal;
         }

  .roboto  {
    font-variation-settings:
                     "wdth" 100;
}

/* ------------------------------- 3. Layout --------------------------------------- */




/* --------------- 3.1 Reusable -----------------------*/



/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.header .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;


}

.header {
    width: 100%;
    min-height: 820px;
    background: #4845E4;
    clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%,
            0%  90%
    );
    display: flex;
    flex-direction: column;
}
/* --------------- 4.2 Introduction ------------------- */
.header .nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
    list-style: none;
    padding: 40px 0;
    margin: 0;
    color: var(--secondary-color-light);
}
.header .nav  .li .a {
    color: var(--secondary-color-light);

}
.header__hero {
    margin-top: 60px;
    text-align: center;
    color: var(--primary-color);
}
.header__title {
    margin-top: 120px;
    font-size: 62px;
    font-weight: bold;
    margin-bottom: 3px;
    line-height: 1.1;
    color: var(--secondary-color-light);
}
.header__subtitle {
    color: var(--secondary-color-light);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 28px;
    opacity: 0.9;
}
.header .btn--primary {
    display: inline-block;
    background-color: var(--tertiary-color);
    color: #F2F0FF;
    text-decoration: none;
    border: none;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 50px;
}
.intro::before {
    content: "HELLO";
    position: absolute;
    font-size: 370px;
    font-weight: normal;
    color: #F3F6F9;
    Z-index: 0;
    pointer-events: none;
    margin: 8 8 8 8px;

}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 7px;

    background: #F2F0FF;
    height: 800px;
    text-align: center;
    margin-top: -140px;
        clip-path: polygon(
                0% 7%,
                100% 26%,
                100% 100%,
                0%  95%

        );

}
.intro p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

    color: var(--primary-color);
    font-size: 38px;
    font-weight: inherit;
    line-height: 0.9em;
    margin-bottom: 5px;
    max-width: 1200px;


}
.intro a {
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 10px;
}


.project-articles article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 4rem;
}
.project-articles .variety  {
    display: flex;
    flex-direction: row-reverse;
}
.project-articles h3 {
    font-size: 2.2rem;
    margin-bottom: 4rem;
}
.project-articles h4 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
}
.project-articles article img {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}
.variety {
    flex-direction: row-reverse;
}
.project-articles article img {
    width: 800px;
    height: auto;
    border-radius: 8px;
}
.project-articles article div {
    flex: 1;
}


.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;


}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background: inherit;
    border-radius: 1rem;
    border: 1px solid var(--secondary-color);
}
.card img {
    width: 100px;
}
